<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Store</title>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous"> -->

  </head>
    <section class="navbar">
      <div class="logo">
        <a class="navbar-brand" style="text-decoration: none;font-size:30px;color: Red;">EasyShop</a>

      </div>

      <ul class="nav-links">
        <li><a class="active" href="/home?user_id={{ user_id }}">Home</a></li>
        <li><a class="active" href="/?user_id={{ user_id }}">Products</a></li>
        {% if not user_id %}
          <li><a href="/signin">Sign In</a></li>
         <li><a href="/signup">Signup</a></li>
        {% else %}
          {% if user_id == "661955e817460579f05fc06d" %}
          <li><a href="/admin/addProduct?user_id={{ user_id }}">Admin</a></li>
         {% endif %}
          <li><a href="/carts?user_id={{ user_id }}">Cart</a></li>
          <li><a href="/logout">Logout</a></li>
        {% endif %}
      </ul>
      <form id="search-form">
        <input
          type="text"
          id="search"
          name="search"
          placeholder="Search for products"
          required
        />
        <br>
        <button type="submit">Search</button>
      </form>
    </section>

    <div class="product-container" id="product_details">
      
      


      <h1 class="heading" id="product-list" style="color:black">Our Collections</h1>
      {% if products %}
      <div class="product">
        {% for product in products %}
        <div class="product-card">
          <h2>{{ product.name }}</h2>
          <!-- <p class="product-description">{{ product.description }}</p> -->
          <p class="product-price">Price: ${{ product.price }}</p>
          <div class="button-container">
            <button class="buy-button" onclick="buy()">Buy</button>
            <script>
              function buy() {
                alert("Purchase successful !!!");
              }
              </script>
            <!-- <button class="cart-button" data-product-id="{{ product._id }}">
              Add to Cart
            </button> -->
            <i class='bx bx-shopping-bag cart-button' data-product-id="{{ product._id }}"></i>

          </div>
        </div>
        {% endfor %}
      </div>
      {% else %}
      <p class="error-message">Product not found</p>
      {% endif %}
    </div>
    <!-- footer -->
    <div class="footer-container">
      <div class="footer">
        <div class="footer-row-1" style="padding-top: 2% ;">
          <div class="column 1" style="padding-left:5%;">
            <h3 style="font-weight: 600; font-size: 30px; padding-bottom: 15%;">Quick Links</h3>
              <ui class="links" style="list-style:'';">
               <li style="padding:'1% 4%'; margin-left:'4%';">- <a href="/" style="color:'white';">Home</a></li>
               <li style="padding:'1% 4%'; margin-left:'4%';">- <a href="/?user_id={{ user_id }}" style="color:'white';">Products</a></li>
               <li style="padding:'1% 4%'; margin-left:'4%';">- <a href="/carts?user_id={{ user_id }}" style="color:'white';">Cart</a></li>
               </ui>
          </div>
          <div class="column 2">
            <h3 style="padding-left: 30%; font-weight: 600; font-size: 30px;">Get In Touch</h3>
              <ul class="information" style="padding-left: 30%;">
              <span> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                </svg> </span>
                  <span>Survey No. 3/4, Kondhwa (Budruk)
                   Pune – 411048, Maharashtra (India)<br></br>
                  </span>
                <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                </svg></span>
                <span> Phone: 123456789 <br></br></span>
                <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                </svg></span>
                <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                 <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
                 </svg> </span>
                <span> Email us : tanishqbc16@gmail <br></br></span>
                <span style="color:'rgb(151, 151, 151)';">Feel free to write us about your Experiences and Suggestions</span>
              </ul>
            </div>
        </div>
        </div>
      </div>

  </body>
</html>
